.top-logo-container {
  position: absolute;
  top: calc(20px + var(--ion-safe-area-top, 0px)); 
  left: 20px;
  z-index: 100;

  .main-logo {
    width: 70px;
    height: auto;
    display: block;
    filter: grayscale(100%) brightness(0%) invert(100%) drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
  }
}