<ion-content [fullscreen]="true" class="vigi-container">
  <div class="top-logo-container">
    <img src="assets/imgs/UTC_logo-plano.webp" alt="Logo UTC" class="main-logo">
  </div>

  <div class="blog-content">
    <h1 class="titulo">VigIA Blog</h1>

    <div class="blog-grid">
      <div class="blog-card" *ngFor="let post of posts" (click)="leerMas(post)">
        <img *ngIf="post.imagen_url" [src]="post.imagen_url" class="card-img">
        <div class="card-body">
          <span class="categoria">{{ post.categoria }}</span>
          <h2 class="card-title">{{ post.titulo }}</h2>
          <p class="card-excerpt">{{ post.resumen }}</p>
          <div class="card-footer">
            <small>{{ post.fecha | date:'shortDate' }}</small>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>