<ion-content [fullscreen]="true" class="vigi-container">

  <!-- Logo UTC -->
  <div class="top-logo-container">
    <img src="assets/imgs/UTC_logo-plano.webp" alt="Logo UTC" class="main-logo">
  </div>

  <!-- CONTENIDO -->
  <div class="preguntas-content">

    <h2 class="titulo">Preguntas Frecuentes</h2>

    <ion-searchbar
      [(ngModel)]="textoBusqueda"
      placeholder="Buscar pregunta..."
      animated="true"
      class="custom-search">
    </ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let item of preguntasFiltradas">
        {{ item.pregunta }}
      </ion-item>
    </ion-list>

    <div *ngIf="preguntasFiltradas.length === 0" class="no-results">
      No se encontraron resultados
    </div>

  </div>

  <div class="navbar-wrapper">
    <div class="custom-navbar">
      
      <div class="nav-button" [class.active]="seccionActiva === 'inicio'" (click)="seleccionar('inicio')">
        <ion-icon name="home"></ion-icon>
        <span class="nav-text">Inicio</span>
      </div>

      <div class="nav-button" [class.active]="seccionActiva === 'preguntas'" (click)="seleccionar('preguntas')">
        <ion-icon name="help-circle"></ion-icon>
        <span class="nav-text">Preguntas</span>
      </div>

      <div class="nav-button" [class.active]="seccionActiva === 'mapa'" (click)="seleccionar('mapa')">
        <ion-icon name="map"></ion-icon>
        <span class="nav-text">Mapa</span>
      </div>

      <div class="nav-button" [class.active]="seccionActiva === 'calendario'" (click)="seleccionar('calendario')">
        <ion-icon name="calendar"></ion-icon>
        <span class="nav-text">Calendario</span>
      </div>

      <div class="nav-button" [class.active]="seccionActiva === 'blog'" (click)="seleccionar('blog')">
        <ion-icon name="document-text"></ion-icon>
        <span class="nav-text">Blog</span>
      </div>

      <div class="nav-button" [class.active]="seccionActiva === 'otros'" (click)="seleccionar('otros')">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
        <span class="nav-text">Otros</span>
      </div>

    </div>
  </div>

</ion-content>