<div class="navbar-wrapper">
  <div class="custom-navbar">
    
    <div class="nav-button" routerLink="/home" routerLinkActive="active">
      <ion-icon name="home"></ion-icon>
      <span class="nav-text">Inicio</span>
    </div>

    <div class="nav-button" routerLink="/preguntas" routerLinkActive="active">
      <ion-icon name="help-circle"></ion-icon>
      <span class="nav-text">Preguntas</span>
    </div>

    <div class="nav-button" routerLink="/mapa" routerLinkActive="active">
      <ion-icon name="map"></ion-icon>
      <span class="nav-text">Mapa</span>
    </div>

    <div class="nav-button" routerLink="/calendario" routerLinkActive="active">
      <ion-icon name="calendar"></ion-icon>
      <span class="nav-text">Eventos</span>
    </div>

    <div class="nav-button" routerLink="/blog" routerLinkActive="active">
      <ion-icon name="document-text"></ion-icon>
      <span class="nav-text">Blog</span>
    </div>

    <div class="nav-button" routerLink="/otros" routerLinkActive="active">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <span class="nav-text">Otros</span>
    </div>

  </div>
</div>