<ion-header [translucent]="true">
  <app-logo-utc></app-logo-utc>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>

  <div id="routingPanel">
    <select id="origen" class="map-select">
      <option value="GPS">📍 Mi ubicación</option>
    </select>
    <select id="destino" class="map-select">
      <option value="" disabled selected>¿A dónde vas?</option>
    </select>
    <button id="btnResetRuta" class="map-btn">🔄 Reiniciar</button>
  </div>

  <div id="infoPanel" [class.show]="panelVisible">
    <ion-icon name="close-circle" class="close-icon" (click)="closeInfoPanel()"></ion-icon>
    
    <div class="drag-handle" (click)="closeInfoPanel()"></div>
    
    <img [src]="currentImg" *ngIf="currentImg" class="info-img">
    
    <div class="info-body">
      <h3>{{ currentTitle }}</h3>
      <div [innerHTML]="currentText"></div>
    </div>
  </div>

  <app-custom-navbar></app-custom-navbar>
</ion-content>