<ion-content [fullscreen]="true" class="vigi-container">
  
  <div class="top-logo">
    <img src="assets/utc-logo.png" alt="UTC Logo">
  </div>

  <div class="center-container">
    <div class="orb-outer">
      <div class="orb-inner">
        <span>VigIA</span>
      </div>
    </div>
  </div>

  <div class="bottom-nav">
    <ion-button fill="clear" class="nav-item">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-button>
    <ion-button fill="clear" class="nav-item">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>Preguntas</ion-label>
    </ion-button>
    <ion-button fill="clear" class="nav-item">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-button>
    </div>
</ion-content>